.searchbar {
    right: 5.5%;
    padding: 1% 2%;
    background-color: inherit;
    border-radius: 50px;
    position: fixed;
    top: 1.5em;
    width: 30em;

    font-size: large;
    background-color: rgb(220, 220, 220);
}

.logo {
 width:6em;
 border-radius: 50%;
 
}
.search_cont{
  
    position: fixed;
    width: 100vw;
    
    height: 100vh;
    z-index: 30;
    top: 0;
}
.btn_search{
    position: fixed;
    font-size: xx-large;
    top: 1em;
    right: 0;
    
}
.x{
    height:4em;
    margin:2% 2%;
}